<div class="overlay"></div>
<button class="burger-icon">
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-close"></i>
</button>
<aside>
    <div class="burger-items">
        <h3><a href="/">Home</a></h3>
        <h3 class="underline">Programs</h3>
        <a href="/programs/hww60">HWW 60</a></li>
        <a href="/programs/hwwsweat">HWW SWEAT</a>
        <a href="/programs/hwwlift">HWW LIFT</a>
        <a href="/programs/hwwelite">HWW ELITE</a>
        <h3 class="underline">Exercise</h3>
        <a href="/exercise/push">Push</a>
        <a href="/exercise/pull">Pull</a>
        <a href="/exercise/squat">Squat</a>
        <a href="/exercise/hinge">Hinge</a>
        <h3><a class="burger about" href="/about">About</a></h3>
    </div>
</aside>


