<nav class="desktop-menu">

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li>
            <a class="programs" href="#">Programs</a>
            <ul class="submenu programs">
                <li><a href="/programs/hww60">HWW 60</a></li>
                <li><a href="/programs/hwwsweat">HWW SWEAT</a></li>
                <li><a href="/programs/hwwlift">HWW LIFT</a></li>
                <li><a href="/programs/hwwelite">HWW ELITE</a></li>
            </ul>
        </li>
        <li>
            <a class="exercise" href="#">Exercise</a>
            <ul class="submenu exercise">
                <li><a href="/exercise/push">Push</a></li>
                <li><a href="/exercise/pull">Pull</a></li>
                <li><a href="/exercise/squat">Squat</a></li>
                <li><a href="/exercise/hinge">Hinge</a></li>
            </ul>
        </li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

